@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: roboto, sans-serif;
    font-weight: 300;
    color: #233d4d;
}

/* headings and logo */

h1, h3, h4 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#title {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}
/* navigation links */

#menu-links {
    font-size: 110%;
    letter-spacing: 3px;
    float: right;
}

#title #menu-links {
    line-height: 75px;
}

#menu-links a {
    text-decoration: none;
    color: inherit;
}
#menu-links a:hover {
    border-bottom: 1px solid #252525;
}
.active {
    border-bottom: 1px solid #252525;
}

/*main image */

