@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

body {
    font-family: roboto, sans-serif;
    font-weight: 300;
    color: #233d4d;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    background-color: #619b8a;
    color: #a50104;
}

hr {
    display: none;
}

/* navigation links */

#menu-links {
    font-size: 20px;
    letter-spacing: 4px;
}
#menu-links li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    border-bottom: 20px;
    color: #233d4d;
}
#menu-links a {
    text-decoration: none;
}
#menu-links a:hover {
    border-left: 2px solid #a50104;
}
.active {
    border-top: 1px solid #a50104;
}

/* image */

img {
    max-height: 20%;
    max-width: 100%;
}
#image {
    padding: 30;
border-top: 50px;
border-left: 50px;
border-right: 10px;
border-bottom: 10px;
}

/* club benefits */

#club-benefits {
    border-top: 10px;
    border-bottom: 50px;
    height: 500px;
}
h3 {
    text-align: center;
}
.text-left {
    float: left;
    width: 33%;
    padding-top: 30px;
}
.text-right {
    float: right;
    width: 33%;
    padding-top: 33px;
}

/* activities */

#activities {
    height: 280px;
    display: center;
    padding-left: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    background-color: #fcba04;
}

#opening-times {
    height: 180px;
    display: center;
    padding-left: 40%;
    font-size: 20px;
    margin-bottom: 5%;
}

h4 {
    font-family: montserrat, sans-serif;
    font-size: 20px;
    margin-bottom: auto;
}

#location {
    font-family: roboto, sans-serif;
    height: 600px;
    display: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 40%;
    font-size: 20px;
    background-color: #fcba04;
}
#location h3 {
    font-family: montserrat, sans-serif;
    font-size: 20px;
}

/* footer */

footer {
    height: 150px;
    background-color: #619b8a;
}
.social-links {
    text-align: center;
    background-color: #619b8a;
}
.social-links > li {
    display: inline;
}
.social-links i {
    font-size: 50px;
    margin: 1%;
    padding: 5%;
    color: #a50104;
}

/* for screens large to mediumm from 1200px wide and down */

@media screen and (max-width:1200px) {
    
#club-benefits {
    width: 65%;
    height: 600px;
    margin: 0 auto;
}

.text-left, .text-right {
    width: 100%;
    float: left;
    padding: 0%;
}
#activities {
    clear: both;
    width: 100%;
    float: center;
    padding: 0;
    text-align: center;
}
#opening-times {
    width: 100%;
    clear: both;
    height: 170px;
    padding: 0%;
    text-align: center;
}
hr {
    display: none;
}
}

/* for media screens from 950px wide and down */
@media screen and (max-width:950px) {
    #menu-links {
        clear: left;
        float: center;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    #club-benefits {
        width: 90%;
        height: 100px;
        margin: 0;
        text-align: center;
        border-left: 40%;
    }
    #activities {
        width: 100%;
        padding-bottom: 2%;
        text-align: center;
    }
    #activities ul {
        text-align: center;
    }
    #opening-times {
        height: 50%;
        width: 100%;
        text-align: center;
        padding-top: 2%;
    }
    #opening-times ul {
        text-align: center;
    }
    
}

/* for screens 500px and down */

@media screen and (max-width:500px) {
    #header {
        font-size-adjust: auto;
    }

    #menu-links {
        width: auto;
        font-size: smaller;
        float: left;
    }
    #menu-links li {
        float: left;
    }
    .active {
        border-bottom: 1px solid #a50104;
    }
    #club-benefits h3 {
        font-size: small;
    }
    #activities {
        font-size: small;
        height: 200px;
    }
    #opening-times {
        font-size: small;
        height: 200px;
    }
    #location {
        width: 60%;
        height: 250px;
    }
    .map {
        float: left;
        margin: 0 auto;
    }
    #footer {
        height: 40px;
        border: none;
    }
    .social-links i {
        font-size: 20px;
    }
}