@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

body {
    font-family: roboto, sans-serif;
    font-weight: 300;
    color: #233d4d;
}

h1 {
    text-align: center;
    font-size: 50px;
    background-color: #619b8a;
}

/* navigation links */

#menu-links {
    font-size: 20px;
    letter-spacing: 4px;
}
#menu-links li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu-links a {
    text-decoration: none;
}
#menu-links a:hover {
    border-left: 2px solid #a50104;
}
.active {
    border-bottom: 1px solid #a50104;
}

/* image */

img {
    max-height: 20%;
    max-width: 100%;
}
#image {
    padding: 10;
border-top: 50px;
border-left: 50px;
border-right: 10px;
border-bottom: 10px;
}

/* club benefits */

#club-benefits {
    border-top: 10px;
    border-bottom: 50px;
    height: 500px;
}
h3 {
    text-align: center;
}
.text-left {
    float: left;
    width: 33%;
    padding-top: 30px;
}
.text-right {
    float: right;
    width: 33%;
    padding-top: 33px;
}

/* activities */

#activities {
    height: 300px;
    display: center;
    padding-left: 40%;
    margin-bottom: 5%;
    font-size: 20px;
}

#opening-times {
    height: 200px;
    display: center;
    padding-left: 40%;
    font-size: 20px;
    margin-bottom: 5%;
}

h4 {
    font-family: montserrat, sans-serif;
    font-size: 20px;
    margin-bottom: auto;
}

#location {
    font-family: roboto, sans-serif;
    height: 600px;
    display: center;
    padding-left: 40%;
    font-size: 20px;
    margin-bottom: 5%;
}
#location h3 {
    font-family: montserrat, sans-serif;
    font-size: 20px;
    margin-bottom: auto;
}